<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ผลสลากกินแบ่งรัฐบาล</title>
</head>
<body>
    <link href="style.css" rel="stylesheet">
    <h1>Home</h1>
    <div class="table-menu">
        <table>
            <tr>
                <td>
                    <h3><a href="/" class="myButton">Home</a></h3>
                </td>
                <td>
                    <h3><a href="/Profile" class="myButton">Profile</a></h3>
                </td>
                <td>
                    <h3><a href="/additem" class="myButton">additem</a></h3>
                </td>
                <td>
                    <h3><a href="/delete"class="myButton">delete</a></h3>
                </td>
            </tr>
        </table> 
        </div> 
    <table id="table">
        <tr class="top-container">
            <th>id</th>
            <th>reward</th>
            <th>lottery numbers</th>
            <th>prize</th>
            <th>date</th>
        </tr>
        <% great.forEach(function(item) { %>
        <tr class="top-container">
            <td><%= item.id %></td>
            <td><%= item.reward %></td>
            <td><%= item.numbers %></td>
            <td><%= item.prize %></td>
            <td><%= item.date %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>